<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <configuration>
    <!-- 
	<settings>
		<setting name="cacheEnabled" value="true"></setting>
		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="aggressiveLazyLoading" value="true"></setting>
		<setting name="multipleResultSetsEnabled" value="true"></setting>
		<setting name="useColumnLabel" value="true"></setting>
		<setting name="useGeneratedKeys" value="false"></setting>
		<setting name="autoMappingBehavior" value="PARTIAL"></setting>
		<setting name="defaultExecutorType" value="SIMPLE"></setting>
		<setting name="defaultStatementTimeout" value="null"></setting>
	</settings> -->
	<!--cacheEnabled:全局性地启用或禁用所有在mapper配置文件中配置的缓冲,default:true-->
	<!--lazyLoadingEnabled 全局性地启用或禁用延迟加载,当禁用的时候所有关联的配置都会立即加载  default:true-->
	<!--aggressiveLazyLoading     
			当启用后，一个有延迟加载属性的对象的任何一个延迟属性被加载时，
			该对象的所有的属性都会被加载，否则所有属性都是按需加载    default true-->
	<!--mulitipleReusultSetsEnabled 
			允许或者禁止从单一的语句中返回多个结果集(需驱动程序兼容) default true-->		
	<!--useColumnLabel  
			使用列的标签而不是列的名称。在这方面，不用的驱动程序可能有不同的实现
			参考驱动程序的文档或者进行测试来确定您所有使用的驱动程序的行为	 default true-->	
	<!--useGeneratedkeys 
			允许JDBC自动生成主键 需要驱动程序兼容，如果设置为true则会强行自动生成主键,
			然而有些则不会自动生成主键(驱动不兼容),但依旧会工作(如derby)default false -->
	<!--autoMappingBehavior
			指定myBatis是否以及如何自动将列映射到字段/属性
			partial:只是自动映射简单,非嵌套的结果集
			full:将会自动映射任何复杂的(嵌套或非嵌套)的结果集  default partial-->
	<!--defaultExecutorType 配置默认的执行器(executor) 
			simple:简单的执行器
			reuse:重用prepared statements 的执行器
			batch:重用statments并且进行批量更新的执行器 default simple -->	
	<!--defaultStatementTimeout 设置查询数据库超时时间  default null-->				
	<settings>
		<setting name="cacheEnabled" value="true"></setting>
	</settings>
	<typeAliases>
		<typeAlias alias="sysUsers" type="com.kang.model.SysUsers" />
		<typeAlias alias="treim" type="com.kang.model.TReim" />
		<typeAlias alias="sysRoles" type="com.kang.model.SysRoles" />
		<typeAlias alias="usrRoleLink" type="com.kang.model.UsrRoleLink" />
	</typeAliases>
	
	 <plugins>  
       <plugin interceptor="com.kang.util.PageInterceptor">  
           <property name="databaseType" value="mysql"/>  
       </plugin>  
           <plugin interceptor="com.kang.bestPay.util.QueryPageInterceptor">  
       </plugin> 
    </plugins>  
	
	
	
	
	
	
	
	
	
</configuration>